.banner{
    display: flex;
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: 0.5s;
    z-index: 30;
}

.banner::after{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

.banner .movie{
    padding:0 3rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding-bottom: 10rem;
}

.banner .hd{
    display: flex;
    justify-content: center;
    
}

.bgImg{ 
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center;
    font-size: 8rem;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
    z-index: 31;
}

.bgImg.active1{
    visibility: visible;
    opacity: 0.5;
}


.banner .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    left: 0;
    top:-1rem;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transition: 1s;
    z-index: 100;
    width:50%;
    height: 100%;
   
}

.banner .content.active2{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    width:50%;
    height: 100%;
}

.movie-title{
   width: 50%;
   height: 30%;
    transition: 2s;
 }

.banner .content h4{
    color:aqua;
    font-weight: 400;
    font-size: 1.3rem;
}

.banner .content h4 span{
    padding: 0 10px;
    border-right: 1px solid red;
}

.banner .content h4 span:first-child{
    padding-left: 0;
}

.banner .content h4 span:last-child{
    border-right: 0;
}

.banner .content h4 span i{
    background:var(--primary);
    color: white;
    padding: 0 8px;
    display: inline-block;
    border-radius: 7px;
}

.banner .content p{
    position: relative;
    bottom: 1rem;
    padding: 0;
      font-size: 0.8rem;
      font-weight: 400;
      line-height: 1.5rem;
      color: white;
      margin: 20px 0 30px;
      max-height: 4rem;
      overflow: scroll;
      scrollbar-width: none;
}

.banner .date{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative; 
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transition: 1s;
    z-index: 100;
    width:40%;
    border: 2px solid red;
}
 
.banner .date.active3{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.banner .date h2{
    font-family: 'Racing Sans One',cursive;
    color: antiquewhite;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
    text-shadow: 0 0 5px white;
    -webkit-mask: linear-gradient(black 0 0),linear-gradient(black 0 0);
    -webkit-mask-clip: text,padding-box;
    -webkit-mask-composite: xor;
}

.banner .date .trailer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap:1rem;
    z-index: 20000;
}

.banner  .date .trailer p{
    color:var(--primary);
    font-size: 1.5rem;
    margin-left: 20px;
    margin-bottom: 0;
    
}

.banner .date .trailer .playbtn{
    padding: 1rem;
    position: relative;
    color: antiquewhite;
    width: 70px;
    height: 70px;
    transition: 1s;
    z-index: 2000;
    background: transparent;
    backdrop-filter: blur(20px);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: button 1s infinite;
 }

.banner .date .trailer .playbtn ion-icon {
    font-size: 4rem;
    color: red;
    cursor: pointer;
    z-index: 5000;
    
}

.banner .date .trailer .playbtn::before{
    position: absolute;
    top: -5px;
    right: -5px;
    left: -5px;
    bottom: -5px;
    content: '';
    background: transparent;
    border: 10px solid white;
    border-radius: 50%;
    animation: button 10s linear infinite;
}



@keyframes button{
    0%,100%{
        opacity: 0.1;
        filter: blur(4px);
    }
    50%{
        opacity: 0.3;
        filter:blur(10px)
    }
}


@media  screen and (max-width:991px) {
    .banner .content{
        margin-top: 3rem;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
        align-items: center;
        margin-bottom: 0;
    }

    .banner .content p{
        position: relative;
        bottom: 2rem;
        max-height: 1.5rem;
        width:80%;
    }
 
    .banner .date{
          top:-3rem;
    }
   
    .banner .playbtn{
        width:60px;
        height: 60px;
    }
    .movie-title{
        width:12rem;
        height: 4rem;
    }

    .trailer {
     bottom: 2rem;
    }
}

@media screen and (max-width:600px) {
    .banner .content{
        gap:0;
    }
    .hd{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:0;
       }
       .banner .date{
        padding: 0.2rem;
        gap:1rem
       }
    .banner .date h2{
        font-family: 'Racing Sans One',cursive;
        color: antiquewhite;
        text-transform: uppercase;
        font-size: 2rem;
        text-align: center;
        text-shadow: 0 0 2px white;
        -webkit-mask: linear-gradient(black 0 0),linear-gradient(black 0 0);
        -webkit-mask-clip: text,padding-box;
        -webkit-mask-composite: xor;
    }
}


