.moviewindow{
    position: absolute; 
    content: '';
    top:9rem;
    left:3rem;
    bottom: 0;
    background-color: black;
    backdrop-filter: blur(20px);
    z-index:2000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
    width:600px;
    height: 300px;
}

.moviewindow iframe{
    width: 600px;
    height: 250px;
    
    z-index: 2000;
}

.moviewindow .closewindow{
    position: absolute;
    top:0px;
    right: 00px;
    cursor: pointer;
    color:white;
    font-size: 1.5rem;
}

.moviewindow.active{
    opacity: 1;
    visibility: visible;
}

@media screen and (max-width:660px) {
    .moviewindow{
        width: 400px;
        height: 300px;
    }
    .moviewindow iframe{
        width:400px;
        height: 250px;
    }
}

@media screen and (max-width:460px) {
    .moviewindow{
        top:15rem;
        left:0rem;
        width:300px;
        height: 200px;
    }
    .moviewindow iframe{
        width: 300px;
        height: 160px;
    }
}

