.swiper{
   padding: 1rem 1rem;
}

.movieSwiper{
    position: absolute;
    bottom:1rem;
    left:50%;
    transform: translateX(-50%);
    width: 40%;
    background: black;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 40px white;
    z-index: 200;
    border-radius: 1rem;
}

.swiper-slide{
    height: 15rem;
    width: 10rem;
    border: 2px solid white;
    border-radius:1rem ;
    transition: all 1s ease-in-out;
}

.swiper-slide img{
    object-fit: cover;
    display: block;
    height: 15rem;
    width: 10rem;
    border-radius:1rem ;
}

.swiper-slide:hover{
    scale:1.1
}

@media screen and (max-width:550px) {
 .movieSwiper{
    width:70%;
 }   
}
