*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root{
  --primary : red;
}

body{
  background-color: rgb(44, 49, 44);
  font-family: 'Roboto',sans-serif;
}

body::-webkit-scrollbar{
display: none;
}